{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/bootstrap-paper.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'bower_components/fontawesome/css/font-awesome.css' %}" type="text/css" />
    {% block extra_styles %} {% endblock %}
  </head>
  <body>
    <h1>Hi there this is a base dir</h1>

    {% block content %} {% endblock %}

    {% block extra_scripts %} {% endblock %}
  </body>
</html>