{% extends 'home.html' %}

{% block item %}
  <div class="row">

    <!-- Warning Msg -->
    {% if first_page %}
    <div class="alert alert-dismissable alert-warning">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <h4>Beta Product!</h4>
      <p>Source of Stuff is still in development so be kind and understanding. If you encounter any errors feel free to drop an issue report at the <a target="_blank" href="https://github.com/AVatch/SourceOfStuff" class="alert-link">Github Repo</a>.</p>
    </div>
    {% endif %}
    <!-- /Warning Msg -->

  {% for item in item_list %}
  
    <div class="col-md-4">
      <div class="panel panel-default" style="height:400px;">
        <div class="panel-heading">    
          <h3 class="panel-title"><a href="/item/{{item.pk}}">{{item.name}}</a></h3>

        </div>
        <div class="panel-body">
          <div class="cover-container" style="display:block; height:50%; overflow:hidden;">
            {% if item.cover %}
              <a href="/item/{{item.pk}}">
                <img class="img-rounded" src="{{item.cover.url}}" style="width:100%; height=100%;">
              </a>
            {% else %}
              <a href="/item/{{item.pk}}">
                <img class="img-rounded" src="http://placehold.it/350x350" style="width:100%; height=100%;">
              </a>
            {% endif %}
          </div>
          <div class="contributor-container" style="padding:5px; overflow:auto; white-space:nowrap;">
            {% for contributor in item.contributors.all %}
              {% if contributor.profile_img_url %}
                <a target="_blank" href="https://twitter.com/{{contributor.username}}">
                  <img class="img-circle" src="{{contributor.profile_img_url}}" style="width:48px; height:48px;">
                </a>
              {% else %}
                <img class="img-circle" src="http://placehold.it/50x50" style="width:48px; height:48px;">
              {% endif %}
            {% endfor %}
          </div>
          <div class="summary-container" style="display:block; height:20%; overflow-y:auto; padding:5px; border-radius:5px; background-color:#f5f5f5;">
            {{item.summary}}
          </div>
        </div>
      </div>
    </div>
  
  {% endfor %}
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      {% if next_page %}
        <a href="/item/list/{{next_page}}" class="btn btn-primary">Load More</a>
      {% endif %}
    </div>
  </div>
  <span style="display:block; height:50px;"></span>
{% endblock %}