{% extends 'home.html' %}

{% load staticfiles %}
{% load wysiwyg %}

{% block item %}
<h3>Edit an Item</h3>
<hr>

<form action="/item/edit/{{item.pk}}/" method="post" class="form-horizontal">
  {% csrf_token %}
  
  <div class="form-group">
    <div class="col-md-4">
      <label for="item">Cover Image:</label>
      {{itemForm.cover}}
    </div>
    <div class="col-md-8 {% if itemForm.name.errors %} has-error {% endif %} ">
      <label for="item">Item:</label>
      {{itemForm.name}}
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-3 {% if itemForm.first_mentioned.errors %} has-error {% endif %}">
      <label for="item">First Mentioned:</label>
      {{itemForm.first_mentioned}}
    </div>
    <div class="col-md-3 {% if itemForm.geographic_origin.errors %} has-error {% endif %}">
      <label for="item">Geographic Origin:</label>
      {{itemForm.geographic_origin}}
    </div>
    <div class="col-md-3 {% if itemForm.inventor.errors %} has-error {% endif %}">
      <label for="item">Inventor:</label>
      {{itemForm.inventor}}
    </div>
    <div class="col-md-3 {% if itemForm.tags.errors %} has-error {% endif %}">
      <label for="item">Tags (Comma Seperate):</label>
      {{itemForm.tags}}
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-12 {% if itemForm.summary.errors %} has-error {% endif %}">
      <label for="item">Summary (<span id="chars"></span> chars):</label>
      {{itemForm.summary}}
    </div>
  </div>

  <div class="form-group {% if itemForm.origin_story.errors %} has-error {% endif %}">
    <div class="col-md-12">
      <label for="item">Origin Story:</label>
      {{itemForm.origin_story.errors}}
      {{itemForm.origin_story}}
      {% wysiwyg_editor "id_origin_story" %}
    </div>
  </div>

  <button type="submit" class="btn btn-primary pull-right">Edit</button>
</form>

<span style="display:block; height:50px;"></span>

{% endblock %}

{% block extra_styles %} 
<link rel="stylesheet" href="{% static 'bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css' %}" type="text/css" />
{% wysiwyg_setup  %}

<style type="text/css">
  .yui-editor-container{
    width:100% !important;
  }
</style>
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
  var summaryCharLimit = 250;
  $('#chars').html(summaryCharLimit.toString());

  $('#id_summary').keypress(function(){    
    $('#chars').html((summaryCharLimit - $('#id_summary').val().length).toString());
  });
</script>
{% endblock %}
