{% extends 'home.html' %}
{% block item %}
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row" style="border-bottom:1px solid #eeeeee;">
            <div class="col-xs-8">
                <h2>{{item.name}}</h2>
                <p class="lead">A christmas tree is used to decorate the house</p>
            </div>
            <div class="col-xs-4">
                <div class="btn-group btn-group-sm pull-right" role="group">
                    <button style="outline:none;" type="button" class="btn btn-default btn-lg"><i class="ion-ios-arrow-up"></i> {{item.upvotes}}</button>
                    <button style="outline:none;" type="button" class="btn btn-default btn-lg"><i class="ion-ios-arrow-down"></i> {{item.downvotes}}</button>
                    <button style="outline:none;" type="button" class="btn btn-default btn-lg">&nbsp<i class="ion-ios-compose-outline"></i>&nbsp</button>
                    <button style="outline:none;" type="button" class="btn btn-default btn-lg">&nbsp<i class="ion-ios-more-outline"></i>&nbsp</button>
                </div>
            </div>
        </div><!-- /row 01 -->
        <div class="row" style="padding-top:15px;">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <img class="img-rounded" src="http://placehold.it/350x350">
                    </div>
                    <div class="col-md-12">
                        <h5>First Mention:</h5>
                        <small>1993</small>
                    </div>
                    <div class="col-md-12">
                        <h5>Geographic Origin:</h5>
                        <small>Europe</small>
                    </div>
                    <div class="col-md-12">
                        <h5>Inventor:</h5>
                        <small>Tesla</small>
                    </div>
                    <div class="col-md-12">
                        <h5>Contributors:</h5>
                        {% for contributor in item.contributors.all %}
                            <img class="img-circle" src="http://placehold.it/50x50">
                        {% endfor %}
                    </div>
                    <div class="col-md-12">
                        <h5>References:</h5>
                        <p>Link01</p>
                        <p>Link01</p>
                        <p>Link01</p>
                        <p>Link01</p>
                    </div>
                </div>    
            </div>
            <div class="col-md-8">
                <h5>Origins:</h5>
                <p>{{item.origin_story}}</p>
            </div>
        </div>
      </div>
    </div>

    <!-- <h1>{{item.name}}</h1>
    <hr>
    {% for contributor in item.contributors.all %}
    <span>{{contributor.username}}</span>
    {% endfor %}
    <hr>
    {{item.origin_story}}
    <hr>
    {{item.upvotes}} {{item.downvotes}} -->
  </div>
{% endblock %}